<h1><%=@user.username%></h1>
<h3>User Reviews:</h3>
<%@user.reviews.each_with_index do |review, index|%>
<li><a href="/reviews/<%=review.id%>">Review <%=index + 1%></a></li>
<%end%>
<h3>User Breweries:</h3>
<%@user.breweries.each do |brewery|%>
<li><a href="/breweries/<%=brewery.id%>"> <%=brewery.name%></a></li>
<%end%>
<h3>User Beers:</h3>
<%@user.beers.each do |beer|%>
<li><a href="/beers/<%=beer.id%>"><%=beer.name%></a></li>
<%end%>
