<h1><%=@brewery.name%></h1>
<b>Overall Rating:</b> <%=@brewery.rating%><br>
<b>Total Reviews:</b> <%=@brewery.reviews.count%><br>
<b>Total Beers:</b> <%=@brewery.beers.count%><br>
<br><br>
<h3><%=@brewery.name%>'s Beers:</h3>
<br><br>
<%@brewery.beers.each do |beer|%>
<li><a href="/beers/<%=beer.id%>"><%=beer.name%></a></li>
<%end%>
<br><br>
<h3><%=@brewery.name%>'s Reviews:</h3>
<br><br>
<%@brewery.reviews.each_with_index do |review, index|%>
<%if !review.content.empty?%>
<li><a href="/reviews/<%=review.id%>">Review <%=index + 1%> - <%=review.beer.name%></a></li>
<%end%>
<%end%>
